<%=render "shared/validation_errors", errors: @artist.errors%>


<%= form_for @artist, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label>Artist name</label>
    <%= f.text_field :name, placeholder: "Artist name", class: "form-control" %>
  </div>

  <div class="form-group">

  <span class="btn btn-default">
    <p>Upload Photos</p>
    <%= image_tag @artist.image.source.thumbnail if @artist.image.present?%>
    <hr>
    <%= file_field_tag "source", type: :file %>
  </span>
</div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Back", @artist, class: "btn btn-default" %>
  </div>
<% end %>
