
<div class="artist-container">
  <div class="artist-image" style="background-image: url('<%= @artist.image.source%>');"></div>

  <div class="artist-info">

    <h1><%= @artist.name %></h1>

    <%= link_to "Update artist",
          edit_artist_path(@artist),
                class:        "custom-btn btn" %>
    <%= link_to 'Delete',
          artist_path(@artist),
                class:        "btn btn-danger",
                method:       :delete,
                data:         { confirm: 'Are you sure?' } %>
  </div>
</div>


<a class="btn btn-danger"
  data-confirm="Are you sure?"
  id="delete-all-songs">
    <span class="glyphicon glyphicon-trash"></span>
    Remove all songs
</a>


<table class="table" id="artistSongs">
  <tr>
    <th style="padding: 20px;" colspan="2">Songs</th>
  </tr>
    <% @artist.songs.each do | song |  %>
    <tr data-id=<%=song.id%>>
      <td style="padding: 20px;"><%= song.name %></td>
      <td style="text-align: right;">
        <a class="trashcan glyphicon glyphicon-trash song-delete" id="song-<%=song.id%>"></a>
    <% end%>
</table>


<%= render "shared/form", song: @song %>
<%= link_to "Back", root_path, class: "btn btn-default" %>


<%=# link_to '',
  #'javascript:;',
  #      class:        "btn btn-danger glyphicon glyphicon-trash song-delete",
  #      method:       :delete,
  #      data:         { confirm: 'Are you sure?' },
  #      id:           "song-#{song.id}"
        %>
