
<h1><%= @artist.name %></h1>
<%= link_to "Update artist",
        edit_artist_path(@artist),
              class:        "btn btn-default" %>
<%= link_to 'Delete',
        artist_path(@artist),
              class:        "btn btn-danger",
              method:       :delete,
              data:         { confirm: 'Are you sure?' } %>

<%= image_tag @artist.image.source %>
<% @artist.songs.each do | song |  %>
  <p><%= song.name %>
  <span>
    <%= link_to '',
        artist_song_path(@artist, song),
              class:        "btn btn-danger glyphicon glyphicon-trash",
              method:       :delete,
              data:         { confirm: 'Are you sure?' } %>
  </span></p>
<% end%>

<%= link_to "Add song", new_artist_song_path(@artist), class: "btn btn-primary" %>

<%= link_to "Back", root_path, class: "btn btn-default" %>
